/* 070117 nramiscal@gmail.com */

*{
  margin: 0px;
  padding: 0px;
  /*font-family: sans-serif;*/
  /*outline: 1px dashed blue;*/
}
input{
    width: 400px;
    height: 35px;
    margin-left: 20px;
}

.submit{
    width: 200px;
    height: 40px;
    background-color: #4285f4;
    color: whitesmoke;
    padding: 10px 30px;
    font-size: 18px;
}
.city{
    margin: 15px;
}
.temp{
    margin: 15px;
}